{
	"useTabs": false,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"printWidth": 400,
	"semi": false,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
